<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Help </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .search-container{
           margin-top: 10px;
      }
      .hgh{
        margin-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
      }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping Cart</title>
</head>
<body>
  <br>
  <br>
  <br>
  <br>
  <nav class="navbar navbar-inverse navbar-fixed-top">  
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
<ul class="nav navbar-nav">
  <li><a class="active" href="/homeaft">Home</a></li>
   <li><a href="artworks">Artist</a></li>
  <li><a href="artworksfinal">Art works</a></li>
  <li><a href="faq">FAQs</a></li>
  <li><a href="help">Help</a></li>
  <li>
      <a href="contactus">Contact Us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
  </li>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</ul>

<ul class="nav navbar-nav navbar-right">
  <li>
    <div class="search-container">
      <form >
        <input type="text" placeholder="Search" name="search">
        <button type="submit" onclick= "alert('SEARCH QUERY INITIATED!')"i class="fa fa-search"></i></button>
      </form>
    </div>
  </li>
  <li>
    <div class="hgh"><a href="/register">
      <button type="button" class="sizecheck" style="color: #000;">Logout</button> 
    </a>
  </div>
  </li>

  <li class="cart">
    <a href="artworksfinal#id5">
      <ion-icon name="basket"></ion-icon>CART<span> </span>
    </a>
  </li>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</ul>
</div>

</nav>

    <h1> Hello, How can we help you? </h1>

    <h3> Things that you can do on your own </h3>

    <a href = "#id1"> Seller / Buyer log in or sign up </a>
    <br> <a href = "#id2"> Purchasing Instructions </a>
    <br> <a href = "#id4"> Manage Addresses </a>
    <br> <a href = "#id5"> Payment Settings </a>
    <br> <a href = "#id6"> Account Settings </a>

    <hr> <br> 
    <h2> Seller / Buyer log in or sign up </h2>
    <p class = "class1" id = "id1"> 
        When the users click on profile option, Then the user can see that there are two options. 
        They are: 
        <ol>
            <li> Sellers account.</li>
            <li> Buyers account </li>
        </ol>
        
        <ul>
            <li> In sellers account, There is only one option i.e., login. Because, the artist/seller's account will be created when the artist/seller displays his works at the column artist. 

            </li>
        </ul>

        <ul>
            <li> In buyers account, There are two options i.e., login or sign up. 
                If a user visits our website for the first time then he/she can click on Sign-up option. Then we will ask the user to enter a username, email-id and a password. 
                Then the user will be directed into the home page of our web application.
                Then the user can search the artworks by artistname.
            </li>
        </ul>
    </p>

    <hr> <br> 
    <h2> Purchasing Instructions </h2>
    <p class="class2" id = "id2"> 
        <ul>
            <li> If a user wants to buy an artwork or group of artworks then the user can click directly "Order now" for one work.But if the user wants to purchase group of artworks then there is an option available i.e., "Add to Cart" where user can add all the items he/she wants to purchase.
            </li>

            <li>
                After selecting the works then the user can click "Order now" and then we ask the details of your address.
            </li>

            <li>
                After submitting your address, then we will ask about your payment options. 
            </li>
        </ul>

        The available options are: 
        <ol>
            <li> Google Pay </li>
            <li> Phone Pay </li>
            <li> Cash On Delivery </li>
            <li> Debit Card </li>
            <li> Credit Card </li>
        </ol>

        <ul>
            <li> For cash on delivery option, We will confirm your order and then we will provide you the estimated delivery date.
            </li>

            <li> 
                For the remaining payment options, we will direct the page to their respective pages where the transaction takes place and then we provide the estimated delivery date.
            </li>
        </ul>
    </p>
    
    <hr> <br>
    <h2> Manage Address </h2>
    <p class="class4" id="id4">
        Here you can add as many addresses as you want to deliver the products.
        We will use google maps to locate the area to deliver the artworks.
    </p>

    <hr> <br>
    <h2> Payment settings </h2>
    <p class="class5" id="id5">
        Here users can check their default preferences of their payment type.
        Or they can check their saved debit/credit cards.
    </p>

    <hr> <br>
    <h2> Account Settings </h2>
    <p class="class6" id="id6">
        Here the user can update his username, password or email-id. 
    </p>
</body>
</html>