
 
        <br>
        <br>
        <br>
        <br>
        <nav class="navbar navbar-inverse navbar-fixed-top">  
          <div class="container-fluid">
            <div class="navbar-header">
            </div>
      <ul class="nav navbar-nav">
        <li><a class="active" href="#home">Home</a></li>
         <li><a href="artistfinal">Artist</a></li>
        <li><a href="artworksfinal">Art works</a></li>
        <li><a href="faq">FAQs</a></li>
        <li><a href="help">Help</a></li>
        <li><a href="profile">MyOrders&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        </a></li>
        
        <li>
      
        </li>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </ul>
      
        <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="search-container">
            <form >
              <input type="text" placeholder="Search" name="search">
              <button type="submit" onclick= "alert('SEARCH QUERY INITIATED!')"i class="fa fa-search"></i></button>
            </form>
          </div>
        </li>
         
        
        
        <li>
          <div class="class1" >
            <a href="login">
                <button type="button" class="sizecheck" style="color: #000;">Login</button> 
                </a>   
            </div>
        </li>
        <li>
          <div><a href="signup">
            <button type="button" class="sizecheck" style="color: #000;">Sign Up</button> 
          </a>
        </div>
      </li>
      
      
        <li class="cart">
          <a href="artworksfinal#id5">
            <ion-icon name="basket"></ion-icon>CART<span></span>
          </a>
        </li>
      
        <li>
          <div><a href="/">
            <button type="button" class="sizecheck" style="color: #000;">Logout</button> 
          </a>
        </div>
        </li>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
       </ul>
      </div>
    </nav>
